# Course 1: Project

In [8]:
# 3rd party:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

%matplotlib inline

## A. Importing, cleaning and numerical summaries

### A.1. Download the data set data.csv from the Resources tab

In [9]:
path_to_data = './data.csv'

### A.2. Import the data as a Pandas DataFrame

In [16]:
df = pd.read_csv(path_to_data)

df.head(3)

,Country,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction,Region
0,Malta,27,6.527,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863,85.2,Western Europe
1,Zimbabwe,138,3.875,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970,56.3,Africa
2,Cyprus,65,5.621,1.355938,1.131363,0.844715,0.355112,0.271254,0.041238,1.621249,88.7,Eastern Europe

### A.3. Check the number of observations

In [40]:
len(df)  # or df.shape[0]

153

### A.4. Obtain the column headings

In [31]:
df.columns.to_list()  # or list(df) or df.head(0)

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Economy',
 'Family',
 'Health',
 'Freedom',
 'Generosity',
 'Corruption',
 'Dystopia',
 'Job Satisfaction',
 'Region']

### A.5. Check the data type for each column | A.6. Check if there are any missing values

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 12 columns):
Country             153 non-null object
Happiness Rank      153 non-null int64
Happiness Score     153 non-null float64
Economy             153 non-null float64
Family              153 non-null float64
Health              153 non-null float64
Freedom             153 non-null float64
Generosity          153 non-null float64
Corruption          153 non-null float64
Dystopia            153 non-null float64
Job Satisfaction    151 non-null float64
Region              153 non-null object
dtypes: float64(9), int64(1), object(2)
memory usage: 14.4+ KB

**Note:** The data type detected by Pandas for each column is correct.

**Note:** We can see that there are 2 missing values in the column _Job Satisfaction_.

In [55]:
df[df.isna().any(axis=1)]

,Country,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction,Region
43,North Cyprus,61,5.810,1.346911,1.186303,0.834647,0.471204,0.266846,0.155353,1.549158,NaN,Eastern Europe
61,South Sudan,147,3.591,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567,NaN,Africa

### A.7. If necessary remove any observations to ensure that there are no missing values...

... and the values in each column are of the same data type.

**Note:** Nothing to do in this case.

In [67]:
# FIXME: Remove the 2 lines in question.

### A.8. Obtain the mean, minimum and maximum value for each column containing numerical data

**Note:** We can use the built-in [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) method. (As per the documentation, since `include` defaults to `None`, the result will include all numeric columns.) The `DataFrame` does includes more statistics than requested, though (count, std and percentiles).

In [13]:
df.describe()

,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction
count,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000,151.000000
mean,78.169935,5.349281,0.982433,1.186630,0.550117,0.408489,0.245324,0.123179,1.853072,75.209934
std,45.008741,1.134997,0.421901,0.288441,0.237769,0.150744,0.134395,0.102133,0.499490,12.962365
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914,44.400000
25%,40.000000,4.497000,0.659517,1.041990,0.364509,0.300741,0.153075,0.057070,1.597970,68.950000
50%,78.000000,5.279000,1.064578,1.251826,0.606042,0.437454,0.231503,0.089848,1.832910,78.100000
75%,117.000000,6.098000,1.315175,1.416404,0.719217,0.518631,0.322228,0.153066,2.150801,85.100000
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485,95.100000

Alternatively, we can create a `DataFrame` with only the requested statistics.

In [63]:
def describe_less(df: pd.DataFrame) -> pd.DataFrame:
    pairs = [(df.mean, 'mean'),
             (df.min, 'min'),
             (df.max, 'max')]
    stats = [fun(numeric_only=True).to_frame(name=name).transpose() for fun, name in pairs]
    return pd.concat(stats)
    
describe_less(df)

,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction
mean,78.169935,5.349281,0.982433,1.186630,0.550117,0.408489,0.245324,0.123179,1.853072,75.209934
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914,44.400000
max,155.000000,7.537000,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485,95.100000

### A.9. List the 10 happiest countries

In [65]:
# TODO

### A.10. List the 10 least happy countries

In [66]:
# TODO